env: dev
environment: emr  # Set to 'emr' for EMR Serverless execution

project_name: project-a

aws:
  region: us-east-1
  account_id: "424570854632"
  kms_key_arn: "arn:aws:kms:us-east-1:424570854632:key/66576e98-a4e4-4b87-8b61-4357c39d0886"

buckets:
  lake: "my-etl-lake-demo-424570854632"
  artifacts: "my-etl-artifacts-demo-424570854632"
  logs: "my-etl-logs-demo-424570854632"
  code: "my-etl-code-demo-424570854632"

glue:
  bronze_db: "project-a_bronze_dev"   # actual TF name
  silver_db: "project-a_silver_dev"
  gold_db: "project-a_gold_dev"

emr:
  application_id: "00g0tm6kccmdcf09"
  execution_role_arn: "arn:aws:iam::424570854632:role/project-a-dev-emr-exec"
  driver:
    cores: 2
    memory: "4G"
  executor:
    cores: 2
    memory: "8G"

paths:
  bronze_root: "s3://my-etl-lake-demo-424570854632/bronze"
  silver_root: "s3://my-etl-lake-demo-424570854632/silver"
  gold_root:   "s3://my-etl-lake-demo-424570854632/gold"
  checkpoints_root: "s3://my-etl-lake-demo-424570854632/_checkpoints"
  dq_results_root:  "s3://my-etl-lake-demo-424570854632/_dq_results"

dq:
  mode: "strict"           # stop pipeline on critical failures
  fail_on_error: true
  alert_on_warning: true

lineage:
  enabled: true
  backend: "openlineage"
  endpoint: "http://marquez:5000"   # placeholder
  namespace: "project-a-dev"

sla:
  bronze_ready_by: "02:30"
  silver_ready_by: "03:15"
  gold_ready_by: "04:00"

sources:
  snowflake:
    secret_name: "project-a-dev/snowflake/conn"
    default_warehouse: "DEV_WH"
    default_database: "CUSTOMER_DB"
    default_schema: "PUBLIC"

  redshift:
    secret_name: "project-a-dev/redshift/conn"

  kafka:
    secret_name: "project-a-dev/kafka/conn"

  salesforce:
    secret_name: "project-a-dev/salesforce/conn"

  fx_api:
    secret_name: "project-a-dev/fx/conn"
